html {
    scroll-behavior: smooth;
  }

  #benefits ul {
    padding-left: 2rem;
    list-style-type: disc;
    margin: 1rem 0;
  }
  
  #benefits li {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1rem;
  }